<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata and title of the document -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Eyes</title>
    <!-- Link to the custom CSS file using direct paths -->
    <link rel="stylesheet" href="static/css/eyebalstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Background images with alt text and IDs for styling -->
    <img src="static/img/finabackground.jpg" alt="Scary Face" id="backing">
    <img src="static/img/dark.jpg" alt="Scary Face" id="backing">
    <img src="static/img/homepage.jpg" alt="Scary Face" id="computer">
    <img src="static/img/scaryface.jpg" alt="Scary Face" id="scaryface">
    <img src="static/img/eyeball.jpg" alt="Eyeball" id="eyeball">
    <!-- Link with an image that acts as a power button -->
    <a href="off.html">
        <img src="static/img/powerbttn.jpg" alt="Power Button" id="powerbuttoneye">
    </a>
    <!-- Container for overlay text and buttons -->
    <div class="container">
        <div class="text-overlay">
            <p class="retro-text">
                Would you like me to let you in?<br>
                <a href="grab.html" class="retro-text button">Yes.</a>
                <a href="login1.html" class="retro-text button">No.</a>
            </p>
        </div>
    </div>
    <!-- Link to the JavaScript file using direct paths -->
    <script src="static/js/script.js"></script>
</body>
</html>
