<!-- This is the Final project for ALEXIS MARTINEZ AT UAT FOR MS587 -->

<!DOCTYPE html>
<html>
    <!-- Head Section-->
    <head>
        <title>Hint #2 for login.</title>
        <!-- Link to the CSS file for custom styles -->
        <meta charset="UTF-8">
        <!-- Set the viewport to the device width and scale so that the page is responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Link to the custom CSS file using direct paths -->
        <link rel="stylesheet" href="static/css/styles.css">
        <!-- Link to Google Fonts for custom font style -->
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Background image with alt text and ID for styling -->
        <img src="static/img/finabackground.jpg" alt="Scary Face" id="backing">
        <!-- Homepage image with alt text and ID for styling -->
        <img src="static/img/homepage.jpg" alt="Scary Face" id="computer">
        <!-- Link with an image that acts as a power button -->
        <a href="off.html">
            <img src="static/img/powerbttn.jpg" alt="Power Button" id="indexpowerbutton">
        </a>
        <!-- Container for overlay text and buttons -->
        <div class="container">
            <div class="text-overlay">
                <p class="retro-text">
                    Hint #2:<br> <br>
                    In the absence of all, you find the entrance. <br> <br> What do you provide?
                </p>
                <!-- This is the login button -->
                <a href="login2.html" class="retro-text button">Log in now.</a>
            </div>
        </div>
    </body>
</html>
