<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Head Section -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Eyes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eyebalstyle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
        <!-- Body Section -->
<body>
    <img src="{{ url_for('static', filename='img/finabackground.jpg') }}" alt="Scary Face" id="backing">
            <!-- This is to darken the background and we play with opacity later -->
    <img src="{{ url_for('static', filename='img/dark.jpg') }}" alt="Scary Face" id="scawy">
    <img src="{{ url_for('static', filename='img/offcomputer.jpg') }}" alt="Scary Face" id="computer">
    <img src="{{ url_for('static', filename='img/inroom.jpg') }}" alt="Scary Face" id="computerreflection">
    <a href="{{ url_for('on') }}">
        <img src="{{ url_for('static', filename='img/powerbttn.jpg') }}" alt="Power Button" id="powerbuttoneye">
    </a>
    <div class="container">
        <div class="text-overlay">
            <p class ="retro-text">
            </p>
                        <!-- These are all of the tooltips necessary for now -->
            <div class="hover-spotbed" data-text="A ransacked bed."> ? </div>
            <div class="hover-spotwindow" data-text="The window shades are ripped."> ? </div>
            <div class="hover-spothuman" data-text="A very tired human."> ? </div>
            <div class="hover-spotglow1" data-text="Is that glowing?"> ? </div>
            <div class="hover-spotglow2" data-text="Is that glowing?"> ? </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
