<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head Section -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>off</title>
    <!-- Link to the custom CSS file using direct paths -->
    <link rel="stylesheet" href="static/css/eyebalstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Background images with alt text and IDs for styling -->
    <img src="static/img/finabackground.jpg" alt="Scary Face" id="backing">
    <!-- This is to darken the background and we play with opacity later -->
    <img src="static/img/dark.jpg" alt="Scary Face" id="scawy">
    <img src="static/img/offcomputer.jpg" alt="Scary Face" id="computer">
    <img src="static/img/inroom.jpg" alt="Scary Face" id="computerreflection">
    <!-- Link with an image that acts as a power button -->
    <a href="on.html">
        <img src="static/img/powerbttn.jpg" alt="Power Button" id="powerbuttoneye">
    </a>
    <!-- Container for overlay text and buttons -->
    <div class="container">
        <div class="text-overlay">
            <p class="retro-text"></p>
            <!-- These are all of the tooltips necessary for now -->
            <div class="hover-spotbed" data-text="A ransacked bed."> ? </div>
            <div class="hover-spotwindow" data-text="The window shades are ripped."> ? </div>
            <div class="hover-spothuman" data-text="A very tired human."> ? </div>
            <div class="hover-spotglow1" data-text="Is that glowing?"> ? </div>
            <div class="hover-spotglow2" data-text="Is that glowing?"> ? </div>
        </div>
    </div>
    <!-- Link to the JavaScript file using direct paths -->
    <script src="static/js/script.js"></script>
</body>
</html>
