<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head Section -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Eyes</title>
    <!-- Link to the custom CSS file using direct paths -->
    <link rel="stylesheet" href="static/css/eyebalstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Background images with alt text and IDs for styling -->
    <img src="static/img/finabackground.jpg" alt="Scary Face" id="backing">
    <img src="static/img/dark.jpg" alt="Scary Face" id="scawy">
    <img src="static/img/homepage.jpg" alt="Scary Face" id="computer">
    <img src="static/img/inroom.jpg" alt="Scary Face" id="computerreflection">
    <!-- This power button will be linking to something different -->
    <a href="protected.html">
        <img src="static/img/powerbttn.jpg" alt="Power Button" id="powerbuttoneye">
    </a>
    <div class="container">
        <div class="text-overlay">
            <p class="retrotext2">
                Why did you get the password wrong? 
            </p>
            <!-- These tool tips have the same location but are meant to convey the mysterious computer being's thoughts -->
            <div class="hover-spotbed" data-text="What is your name?"> ? </div>
            <div class="hover-spotwindow" data-text="The room..."> ? </div>
            <div class="hover-spothuman" data-text="Why are you covering your face?"> ? </div>
            <div class="hover-spotglow1" data-text="Who do you think you are?"> ? </div>
            <div class="hover-spotglow2" data-text="Trying to get into her computer?"> ? </div>        
        </div>
    </div>
    <!-- Link to the JavaScript file using direct paths -->
    <script src="static/js/script.js"></script>
</body>
</html>
