<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Head Section -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Eyes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eyebalstyle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
<body>
    <img src="{{ url_for('static', filename='img/finabackground.jpg') }}" alt="Scary Face" id="backing">
    <img src="{{ url_for('static', filename='img/dark.jpg') }}" alt="Scary Face" id="scawy">
    <img src="{{ url_for('static', filename='img/homepage.jpg') }}" alt="Scary Face" id="computer">
    <img src="{{ url_for('static', filename='img/inroom.jpg') }}" alt="Scary Face" id="computerreflection">
    <!--This power button will be linking to something different -->
    <a href="{{ url_for('protected') }}">
        <img src="{{ url_for('static', filename='img/powerbttn.jpg') }}" alt="Power Button" id="powerbuttoneye">
    </a>
    <div class="container">
        <div class="text-overlay">
            <p class ="retrotext2">
                Why did you get the password wrong? 
            </p>
            <!--These tool tips have the same location but are meant to convey the mysterious computer beings thoughts-->
            <div href="{{ url_for('protected') }}" class="hover-spotbed" data-text="What is your name?"> ? </div>
            <div class="hover-spotwindow" data-text="The room..."> ? </div>
            <div class="hover-spothuman" data-text="Why are you covering your face?"> ? </div>
            <div class="hover-spotglow1" data-text="Who do you think you are?"> ? </div>
            <div class="hover-spotglow2" data-text="Trying to get into her computer?"> ? </div>        
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
