<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protectedfornow</title>
    <!-- Link to the custom CSS file using direct paths -->
    <link rel="stylesheet" href="static/css/eyebalstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Background images with alt text and IDs for styling -->
    <img src="static/img/finabackground.jpg" alt="Scary Face" id="backing">
    <img src="static/img/dark.jpg" alt="Scary Face" id="backing">
    <img src="static/img/homepage.jpg" alt="Scary Face" id="computer">
    <!-- Link with an image that acts as a power button -->
    <a href="off.html">
        <img src="static/img/powerbttn.jpg" alt="Power Button" id="powerbuttoneye">
    </a>
    <!-- Container for overlay text and buttons -->
    <div class="container">
        <div class="text-overlay">
            <p class="retro-text">
                Thank you so much for playing the game.<br><br><br> This is currently our first release and we will be updating it as soon as possible!
                <br><br>-Alexis Martinez Final project for MS587
            </p>
        </div>
    </div>
</body>
</html>
