<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protectedfornow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eyebalstyle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
<body>
    <img src="{{ url_for('static', filename='img/finabackground.jpg') }}" alt="Scary Face" id="backing">
    <img src="{{ url_for('static', filename='img/dark.jpg') }}" alt="Scary Face" id="backing">
    <img src="{{ url_for('static', filename='img/homepage.jpg') }}" alt="Scary Face" id="computer">
    <a href="{{ url_for('off') }}">
        <img src="{{ url_for('static', filename='img/powerbttn.jpg') }}" alt="Power Button" id="powerbuttoneye">
    </a>
    <div class="container">
        <div class="text-overlay">
            <p class ="retro-text">
                Thank you so much for playing the game.<br><br><br> This is currently our first release and we will be updating it as soon as possible!
                <br><br>-Alexis Martinez Final project for
            </p>
        </div>
    </div>
</body>
</html>
